/*Large devices (desktops, 992px and down)*/
@media screen and (max-width: 992px) {}

body {
	width: 992px;
}

#blocpage {
	width: 992px;
}

/*------------Tailles de textes / fonts------------------*/
h1 {
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-size: 20px;
	font-weight: bold;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

/*------------header------------------*/
header {
	padding-left: 30px;
	padding-right: 30px;
}

.logonav {
	width: 932px;
}

ul li .li1 {
	display: block;
	width: 200px;
}

ul li .li2 {
	display: block;
	width: 150px;
}

nav a {
	padding-left: 20px;
	padding-right: 20px;
}

.cartouchesfiltres {
	width: 880px;
}

/*-------------main / article-----------------*/
main {
	padding-left: 20px;
	padding-right: 20px;
}

article {
	width: 70%;
	height: 840px;
}

.conteneurcarres {
	padding-left: 30px;
	padding-right: 10px;
	margin-top: 10px;
}

.carres {
	width: 230px;
	height: 200px;
	margin-right: 20px;
	margin-bottom: 30px;
}

.carres img {
	width: 230px;
}

/*-------------main / aside-----------------*/
aside {
	width: 45%;
	height: 840px;
}

aside .titrerectangles {
	padding-left: 20px;
}

.iconefleche {
	padding-left: 90px;
}

.rectangles {
	width: 305px;
	height: 145px;
	margin-bottom: 113px;
}

/*---------------section---------------*/
section {
	height: 800px;
	padding-left: 20px;
	padding-right: 20px;
}

.conteneurcarrectangle {
	height: 800px;
	/*width: 932px;*/
}

.carrectangle1 {
	width: 284px;
	height: 435px;
}

.carrectangle1 img {
	width: 284px;
	height: 380px;
}

.carrectangle2 {
	width: 284px;
	height: 220px;
}

.carrectangle2 img {
	width: 284px;
	height: 165px;
}

.carrectangle3 {
	width: 284px;
	height: 160px;
}

.carrectangle3 img {
	width: 284px;
	height: 105px;
}

.carrectangle4 {
	width: 284px;
	height: 435px;
}

.carrectangle4 img {
	width: 284px;
	height: 380px;
}

.carrectangle5 {
	width: 284px;
	height: 190px;
}

.carrectangle5 img {
	width: 284px;
	height: 135px;
}

.carrectangle6 {
	display: flex;
	flex-direction: column;
	width: 284px;
	height: 190px;
}

.carrectangle6 img {
	width: 284px;
	height: 135px;
}

/*---------------footer---------------*/
footer .liste2,
.liste3 {
	padding-left: 80px;
}